.nav-link-active {
  text-decoration: underline;
  text-underline-position: below;
}

.no-decoration {
  text-decoration: none;
}

.nav-link {
  padding: 0px 12px;
  transition: background-color .3s;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  font-weight: bold;
}

.layout-default {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
}

@media only screen and (max-width: 992px) {
  .layout-default {
    flex-direction: column;
  }
}
